.hero {
  display: grid;
  background-color: #fff;
  height: 100%;
  width: 100%;
  color: #f7971e;
  place-items: center;

  h1 {
    font-size: 6rem;
    background: linear-gradient(to left, #f7971e, #ffd200);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: end;
  }

  h2 {
    letter-spacing: 1.2px;
    align-self: start;
  }
}

.info-banner {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 10% 1fr 1fr 10%;
  justify-items: center;
  grid-auto-rows: min-content;
  background: linear-gradient(to right, #f7971e, #ffd200);
  background-color: #000;
  color: #fff;

  h3 {
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: -1px;
  }

  .article-card {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  hr {
    width: 100%;
    border: 1px solid white;
    margin: 5px 0;
  }

  .article-card:nth-child(1) {
    grid-column: 2;
  }
  .article-card:nth-child(2) {
    grid-column: 3;
  }
  .article-card:nth-child(3) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  .ticker {
    grid-column: 1 / 5;
    grid-row: 3;
  }
}
